html {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lobster', cursive;
  color: white;
}

#buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.section {
  width: 100%;
  height: 50%;
  text-align: center;
  border: 3px solid black;
  box-sizing: border-box;
}

.section#red {
  background-color: red;
  font-size: 60px;
}

.section#white {
  background-color: ghostwhite;
  color: #000000;
}

.button {
  margin: 0 0 0 13px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.button#button25 {
  background-color: #49DD1C;
}

.button#button10 {
  background-color: #FF1E00;
}

.button#button5 {
  background-color: yellow;
}

#pomoCounter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: lightgray;
  width: 500px;
  height: 300px;
}
